@import url('https://fonts.googleapis.com/css?family=Roboto:700');

p {
  color:azure;
  font-size: 20px;
}

/*----------------------------------- Main Page -----------------------------------*/

html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  font-family:'Roboto';
}

/*----------------------------------- Space -----------------------------------*/

.brm3u1 {
  font-size: 35px;
}

/*----------------------------------- Text -----------------------------------*/

h6 {
  font-size: 20px;
}

/*----------------------------------- Tutorial -----------------------------------*/

.Tutorial {
  color: azure;
  font-size: 45px;
}

/*----------------------------------- Copytext / Input -----------------------------------*/

input {
  color: azure;
  background-color: black;
}

.copyt {
  font-size: 20px;
  width: 400px;
}

.copyb {
  font-size: 20px;
  width: 100px;
  color: azure;
  background-color: black;
}

/*----------------------------------- Text -----------------------------------*/

.brm3u {
  font-size: 60px;
}

/*----------------------------------- Space -----------------------------------*/



.brkodi {
  font-size: 1px;
}

.brbuttonk {
  font-size: 90px;
}

strong {
  color: azure;
}

.kodid {
  height: 20%;
  width: 85%;
  color: black;
  background-color: black;
  border: 0px;
}

.kodid:hover {
  width: 80%;
  height: 20%;
  background-color: grey;
}

/*----------------------------------- Expand Box -----------------------------------*/

.grow {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  height: 55px;
  width: 97%;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  background-color: grey;
  color: azure;
}
.grow:hover {
  height: 59%;
}

/*----------------------------------- Fix -----------------------------------*/

*{
  margin: 0;
  padding: 0;
}
