/*----------------------------------- Main Page -----------------------------------*/

html, body {
  width: 100%;
  height: 98%;
  overflow-x: hidden;
  background-color: black;
}

/*----------------------------------- Buttons -----------------------------------*/

.btn1, .btn2, .btn3, .btn4, .btn5 {
  color: azure;
  background-color: black;
  border: 5px darkblue solid;
  width: 100%;
  height: 9%;
  display: inline;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover {
  background-color:grey;
}

.btn1:active, .btn2:active, .btn3:active, .btn4:active, .btn5:active {
  background-color:#4e4c4c;
}

.btns {
  width: 99%;
}

/*----------------------------------- Text -----------------------------------*/

.text5, .text6 {
  color: azure;
  font-size: 20px;
  width: 99%;
}
