/*----------------------------------- Collapsible -----------------------------------*/

.collapsible {
 background-color: black;
 color: azure;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 text-align: centre;
 outline: none;
 font-size: 15px;
 border: 1px solid darkblue;
}

.active, .collapsible:hover {
 background-color: darkslategrey;
}

.content {
 padding: 0 18px;
 display: none;
 overflow: hidden;
 background-color: #f1f1f1;
}

/*----------------------------------- Text -----------------------------------*/

.q, .a {
 color: azure;
}

.q {
 color: darkblue;
 font-size: 50px;
}

.a {
 font-size: 30px;
}

h1 {
  color: white;
}

/*----------------------------------- Button -----------------------------------*/

button {
  ackground-color: dimgrey;
  height: 100px;
  width: 100%;
}

/*----------------------------------- Main Page -----------------------------------*/

body {
  background-color: black;
}
