/*----------------------------------- Text -----------------------------------*/

.tos, .tost, .title {
  color: white;
}

.title {
  font-size: 50px;
}

.tos {
  font-size: 20px;
}

.tost {
  font-size: 35px;
}

h3 {
  color: azure;
  ont-size: 50px;
}

/*----------------------------------- Main Page -----------------------------------*/

body {
  background-color: black;
}

/*----------------------------------- Space -----------------------------------*/

br {
  font-size: -30px;
}
