@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: rgb(25, 25, 26);
    --first-color-light: #AFA5D9;
    --white-color: black;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: black;
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: white;
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: #AFA5D9
}

.nav_logo-name {
    color: #AFA5D9;
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: grey
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
    color:wheat;
}

.active {
    color: rgb(77, 77, 77)
}

.Tutorial {
    color: white;
    font-size: 20px;
}

input {
    color: azure;
    background-color: black;
  }
  
  .copyt {
    font-size: 20px;
    width: 400px;
  }
  
  .copyb {
    font-size: 20px;
    width: 100px;
    color: azure;
    background-color: black;
  }
  

.ptag {
    width: 100%;
    height: 8%;
    background-color: dimgray;
    border-radius: 2px;
    border: 3px solid grey;
}

.kodid {
    width: 99%;
    height: 12%;
    border-radius: 25px;
    color: white;
    background-color: rgb(26, 26, 26);
}

.kodid:hover {
    background-color: grey;
}

.brbuttonk {
    font-size: 5px;
}

.ptag h1 {
    color: black;
    text-align: center;
}

.ptagbr {
    font-size: 30px;
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
        background-color: black;
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .header_toggle, .header {
        color: wheat;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

body, html, .height-100, .bg-light, .black, .nav-bar, .snippet-body {
    background-color: black;
}



.black {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: dimgrey;
    border-radius: 7px;
  }

  .bordr {
      border: 2px blue solid;
  }

  .connectt {
      border: 2px blue solid;
  }

.typestate {
    color: white;
    font-size: 20px;
}